<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD NodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="table table-dark">

<h2>Registrar<h2>

    <form action="/" method="POST" class="form-group container" >
      <div class="row col-xs-3 col-xs-offset-9">

        <input type="text" class="col" placeholder="Placa" name="placa">
        <input type="text" class="col" placeholder="Chassi" name="chassi">
        <input type="text" class="col" placeholder="Renavam" name="renavam">
        <input type="text" class="col" placeholder="Modelo" name="modelo">
        <input type="text" class="col" placeholder="Marca" name="marca">
        <input type="text" class="col" placeholder="Ano" name="ano">
        <br />
      </div>
        <div class="row">
          <button type="submit">Incluir</button>
          <button><a href="/show">Todos</a></button>
        </div>
    </form>

</body>
</html>